nav {
  margin: 0 0 0 auto;
}
.sp-nav {
  display: none;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
  li {
    margin: 0 20px 0 40px;
    font-size: 16px;
  }
}
.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  /* background: url("../../../img/portfolio-image.jpg"); */
  /* top center / cover no-repeat; */
  h2 {
    margin: 0;
    font-size: 35px;
    font-weight: normal;
    color: #fff;
  }
}

@media screen and (max-width: 640px) {
  .pc-nav {
    display: none;
  }
  .sp-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
    .close {
      position: relative;
      padding-left: 20px;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(-45deg);
      }
    }
  }
  .sp-nav .close {
    position: relative;
    padding-left: 20px;
  }
  .sp-nav .close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 0 0 auto;
    span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transform: translateY(-50%);
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70%;
        height: 2px;
        background-color: #fff;
      }
    }
  }
  /*スマホメニュー*/
  .sp-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    li {
      margin: 0;
      padding: 0;
    }
    span {
      font-size: 15px;
      color: #fff;
    }
  }
  .sp-nav .sp-nav li .sp-nav li a,
  .sp-nav li span {
    display: block;
    padding: 20px 0;
  }
  /*-閉じるアイコンー*/
  .toggle {
    transform: translateY(0);
    opacity: 1;
  }
  .main-visual {
    padding: 0 4%;
    h2 {
      line-height: 1.6;
      text-align: center;
    }
  }
}
