.section {
  padding: 60px 0;
  font-size: 1rem;
  text-align: center;
}
.section-header {
  margin: 0 0 2.5em 0;
  line-height: 1.2;
}
.section-title {
  margin: 0;
  line-height: 0 0 2.5em 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #fff;
}
.section-subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.section-item-title {
  margin: 1em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.section-item-description {
  margin: 0;
  font-size: 1em;
  text-align: left;
  margin-left: 60px;
  margin-bottom: 20px;
}
.section .btn {
  padding: 0.75rem 1rem;
  width: 15rem;
  font-size: 1em;
}
.section-map {
  width: 100%;
  margin-top: 5em;
}
.section_reverse {
  padding: 90px 0;
  margin: 60px 0;
  color: #fff;
}
.section-description {
  margin: 60px auto;
  font-size: 1em;
  text-align: center;
}
.section-description p {
  margin: 1.5em 0;
}
.section-form {
  width: 60%;
  margin: 2em auto;
}
